export COMPOSE_FILE="docker-compose.local.yml"
alias dexweb='docker exec -ti zm-backend_web_1'
alias dexgql='docker exec -ti zm-backend_graphql-engine_1'
alias dexpql='docker exec -ti zm-backend_postgres_1'

alias dd-uvicorn='dexweb uvicorn'
alias dd-ipython='dexweb ipython'
alias dd-make='dexweb make'

alias dg-hasura='dexgql hasura-cli'

alias dp-psql='dexpql psql -Uzagrajmy zagrajmy_dev'
