bandit
behave-django
black
django-extensions
django-stubs
djangorestframework-stubs
factory_boy
freezegun
ipdb
ipython
isort
lxml
mypy<0.790
pycodestyle
pyenchant
pygraphviz
pylint
pylint-django
pylint-pytest
pytest
pytest-cov
pytest-django
pyyaml
requirements-tools
tox
uritemplate