HASURA_GRAPHQL_DATABASE_URL=postgres://hello_django:hello_django@postgres:zagrajmy_port/hello_django_dev
HASURA_GRAPHQL_ENABLE_CONSOLE="false"
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log
HASURA_GRAPHQL_ADMIN_SECRET=dev_only_password
